.referral-container {
  color: white;
}
.block2-button {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 7%;
  border-style: solid;
  border-color: white;
  color: white;
  background-color: #3882F6;
}