.header-logo {
  color: white;
  width: 300px;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  line-height: 35px;
  padding-top: 18px;
}
.kanji {
  font-size: 30px;
}

.link-containers{
  display: flex;
  gap: 30px;
  flex-shrink: 0;
  padding-top: 38px;
  margin-right: 80px;
}
 a {
  font-size: 15px;
  color: white;
  text-decoration-line: none;


}
